<div class="container-fluid">
    <h2 class="display-4">
        <strong style="color: blue;">Background</strong>
    </h2>
    <hr>
    <p class="lead" style="font-size: 18px; line-height: 190%;">In response to the pressing need for efficient crime management and research, the inception of PoliceConnect emerged as a pivotal initiative. Recognizing the escalating threat posed by crime, the government undertook the critical task of establishing a comprehensive solution that would address these challenges head-on.</p>
    <p class="lead" style="font-size: 18px; line-height: 190%;">The visionary behind this endeavor was the former Attorney General, Mr. John Mbuthia. 
        His insight into the dire situation prompted the conceptualization of PoliceConnect. The overarching objective of PoliceConnect was to conduct in-depth research into the root causes of crime, strategies for prevention, and the dissemination of these invaluable findings 
        to government agencies responsible for criminal justice administration. This approach aimed to guide policy formulation and strategic planning. 
        To lay the foundation for PoliceConnect, an inter-ministerial committee was assembled. Comprising representatives from key 
        entities including the Police, Prisons, Probation Services, Judiciary, and the Office of the Attorney General, this committee was entrusted with 
        the task of exploring the optimal means to establish the crime research center. The State Law Office played a pivotal role in supporting the committee, 
        providing crucial administrative and technical input through various departments such as Planning, Human Resources, and Administration.
    </p>
    <p class="lead" style="font-size: 18px; line-height: 190%;">This progressive step toward crime management and research aligns with international best practices, 
        where comprehensive research has proven indispensable in shaping effective strategies to combat crime and disorder. The establishment of PoliceConnect signifies 
        a commitment to collaboration, fostering international and regional research coordination, information sharing, infrastructure development, and mutual support.
    </p>
    <p class="lead" style="font-size: 18px; line-height: 190%;">PoliceConnect stands as a testament to practical, cost-effective solutions designed to combat crime 
        while enhancing the quality of people's lives. By leveraging research-driven insights and strategies, PoliceConnect strives to create safer communities and 
        empower law enforcement agencies with the tools they need to uphold justice effectively. The journey from recognizing the need for a comprehensive crime 
        research center to the establishment of PoliceConnect underscores a commitment to a safer and more secure society for all.
    </p>
</div>
