<div class="container-fluid">
    <h4>
    <strong style="color: blue; font-size: 25px;">Vision</strong>
    </h4>
    <p class="lead" style="font-size: 18px; line-height: 190%;">A Centre for Excellence in Crime Research</p>
</div>

<div class="container-fluid">
    <h4>
    <strong style="color: blue; font-size: 25px;">Mission</strong>
    </h4>
    <p class="lead" style="font-size: 18px; line-height: 190%;">To Undertake Quality Crime Research Towards Informing Policy and Programmes in Crime Management for a Safe and Secure Society.</p>
</div>

<div class="container-fluid">
    <h4>
    <strong style="color: blue; font-size: 25px;">Core Values</strong>
    </h4>
    <ol class="new-list">
        <li>Customer focus</li>
        <li>Team Work</li>
        <li>Integrity</li>
        <li>Transparency and accountability</li>
        <li>Result Oriented</li>
        <li>Respect for Diversity</li>
        <li>Professionalism</li>
    </ol>
</div>
