<div class="container-fluid">
    <h1 style="display-2"><strong>Contact Information</strong></h1>
    <p>Name: <%= "#{current_user.first_name} #{current_user.last_name}" %></p>
    <p>Email: <%= current_user.email %></p>
    <p>Phone Number: <%= current_user.phone_number %></p>
    <p>National ID: <%= current_user.national_id %></p>
</div>