<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1; justify-content: center;">
  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">PoliceConnect</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            PoliceConnect is an online platform designed to provide a range of police services 
            digitally, enhancing accessibility and convenience for users. The platform allows 
            users to report crimes, track case statuses, and engage with law enforcement services 
            from the comfort of their own devices.
          </p>
        </div>

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Our Stakeholders</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p>
            <a href="#!" class="text-dark">The Judiciary</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Children services</a>
          </p>
          <p>
            <a href="#!" class="text-dark">State Law Office</a>
          </p>
          <p>
            <a href="#!" class="text-dark">National Police service</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Our Stakeholders</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-dark">University of Nairobi</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Office of the Director of Public Prosecution</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Kenya Prison services</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Ministry of Interior and National Coordination</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p><i class="fas fa-home mr-3"></i> The Director, National Crime Research Centre, ACK Garden Annex – Ground Floor,1st Ngong Avenue, Off Bishop’s Road</p>
          <p><i class="fas fa-envelope mr-3"></i>P.O. Box 280-00100, Nairobi</p>
          <p><i class="fas fa-phone mr-3"></i>Email: info@policeConnect.com</p>
          <p><i class="fas fa-print mr-3"></i> + (254) 712345678</p>
        </div>
          <!-- Grid column -->
      </div>
        <!-- Grid row -->
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)" >
    © 2020 Copyright:
    <a class="text-dark" href="#">POliceConnect.com</a>
  </div>
</footer>