<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<section class="ftco-section">
  <div class="wrap">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col">
          <p class="mb-0 phone"> <span class="fa fa-phone" id="phone"></span> <a href="#"> +254 71 234 567</a></p>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
				      <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
				    	<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
				    	<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="fa fa-bars"></span> Menu
	    </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
          <%= link_to root_path, class: 'navbar-brand' do %>
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            PoliceConnect
          <% end %>
          <ul class="navbar-nav navbar-right m-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/about" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/background">Background</a>
                <a class="dropdown-item" href="/vision_mission_core_values">Mission, Vision & core values</a>
                <a class="dropdown-item" href="#">Mandate & Function</a>
                <a class="dropdown-item" href="#">Our Perspective on Crime</a>
              </div>
            </li>

            <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Sign in", "#", method: :get, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Sign up", "#", method: :get, class: "nav-link" %></li>
          </ul>
      </div>

    </div>
  </nav>

</section>
